<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- redirection des logs vers la sortir Console Standard -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Ajout nouveau logger avec level DEBUG écriture dans app.log-->
    <logger name="dev.service.AppService" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <!-- regle de logs par defaut. Ici : niveau INFO vers la sortie standard -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>